<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Pokémon</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="dashboard-container">
        <h1>Listado de Pokémon</h1>
        <div id="pokemon-list" class="card-container"></div>
    </div>

    <!-- Template para crear las cards de Pokémon -->
    <template id="pokemon-card-template">
        <div class="card">
            <img class="pokemon-image" src="" alt="Imagen del Pokémon">
            <h2 class="pokemon-name"></h2>
            <p class="pokemon-info">ID: <span class="pokemon-id"></span></p>
        </div>
    </template>

    <script type="module" src="dashboard.js"></script>
</body>

</html>